.father {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.child {
  background-color: blue;
  width: 100px;
  height: 100px;
  color: white;
}

.child:nth-child(2) {
  order: 1;
}
